/**/.settings
/**/.classpath
/**/.project
/**/.springBeans
/**/.clover
/**/target
/**/*.iml
/**/bin
/**/uploads
/**/target
/**/.floo
/**/.flooignore
/**/.idea
/**/.bundle
/**/coverage
/**/logs/*.log
/**/log/*.log
/**/tmp
/**/coverage
/**/clover
/**/public/uploads
/**/public/assets
/**/.env
/**/npm-debug.log
/**/id_rsa
/**/node_modules
/**/bower_components
/**/*~
/**/*.swp
/**/*.swo
/**/atlassian-ide-plugin.xml
/**/.env_backup/
/**/node_modules
/**/.vagrant
.DS_Store
/logs
/bin/
/.project
/.idea
/target
