/**/.settings
/**/.classpath
/**/.project
/**/.springBeans
/**/.clover
/**/target
/**/*.iml
/client/**/bin/
/api/bin
.DS_Store
/**/uploads
/**/target
/**/.floo
/**/.flooignore
/**/.idea
/**/.bundle
/**/coverage
/**/logs/*.log
/**/log/*.log
/**/tmp
/**/coverage
/**/clover
/**/public/uploads
/**/public/assets
/**/.env
/**/npm-debug.log
/**/id_rsa
/client/node_modules
/client/app/bower_components
/**/*~
/**/*.swp
/**/*.swo
/**/atlassian-ide-plugin.xml
/**/.env_backup/
/**/node_modules
/client/app/app_url_config.js
/client/api_tests/app_url_config.json
/client/app/css/style.css
/client/app/css/ngux.css
/**/.vagrant
/logs
/bin/
/.project
client/app/scripts/kendo/kendo.all.js
client/app/css/ngux.css
